node_modules/
out/
dist/
# Windows reserved device names
nul
*.log
StackWindowsElectron-z2b.3/
StackWindowsElectron-z2b.6/
StackWindowsElectron-z2b.8/
# bd worktree
StackWindowsElectron-z2b.2/
# bd worktree
StackWindowsElectron-z2b.5/
# bd worktree
StackWindowsElectron-z2b.7/
